# dependencies
node_modules/
frontend/node_modules/
server/node_modules/

# env
.env
frontend/.env
frontend/.env.example
server/.env

# build
dist/
frontend/dist/
server/dist/

# misc
.DS_Store
*.log
.vscode/